// ******** 顏色 ******** //
// 命名邏輯: $[亮或暗][區塊名稱][tier(optional)]: ...

$primary: #ffa500;

$dark_bg: #222222;

$dark_bg_heavy: #1d1c1c;

// ******** 字體大小 ******** //

$text-basic: 10px;

$text-md: 12px;

$text-lg: 14px;